<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey Form</title>
</head>
<body>

    <form action="/surveys/create" method="POST">
        <input type="text" name="name" placeholder="Your Name">
        <div></div>
        <input type="text" name="location" placeholder="Dojo Location">
        <div></div>
        <input type="text" name="language" placeholder="Javascript">
        <div></div>
        <textarea name="comment" id="" placeholder="Comment(optional):"></textarea>
        <div></div>
        <input type="submit" value="Submit">
    </form>
    
</body>
</html>